<div class="container">

    <table aria-labelledby="details" class="table table-bordered text-center">
        <thead>
            <tr>
            <th scope="col">Id:</th>
            <th scope="col">Name:</th>
            <th scope="col">Action:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Prd_Arr">
            <td> {{item.id}}</td>
            <td>{{item.name}}</td>
            <td><a [routerLink]="['name',item.id]"> More details</a></td>
        </tr>
    </tbody>
</table>
</div>
<router-outlet></router-outlet>